.global-nav {
  margin-top: 15px;
  text-align: center;
  .nav-item {
    display: inline-block;
    margin: 0 10px;
    a {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 8px;
      color: #666;
      font-size: 1.3rem;
      letter-spacing: 1px;
      transition: 0.15s;
    }
    &.active a,
    & a:hover {
      background-color: #d03c56;
      color: #fff;
    }
  }
}
