.scroll-list {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
  .scroll-item {
    &:nth-of-type(even) a {
      background: url('../images/bg-slash.gif');
    }
    a {
      display: block;
      padding: 10px 15px;
      color: #333;
      font-size: 0;
      transition: background-color 0.1s;
      &:hover {
        background-color: #fafaf8;
      }
    }
  }
  .date {
    display: inline-block;
    width: 19%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.0rem;
  }
  .category {
    display: inline-block;
    width: 8%;
    border-radius: 5px;
    background-color: #d03c56;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.0rem;
    line-height: 16px;
    &.news {
      background-color: #2c3c53;
    }
  }
  .title {
    display: inline-block;
    width: 73%;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
  }
}
