.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
  .ranking-item {
    margin-top: 15px;
    a {
      display: block;
      font-size: 0;
      transition: opacity 0.15s;
      &:hover {
        opacity: 0.8;
      }
    }
    &:nth-of-type(1) .order,
    &:nth-of-type(2) .order,
    &:nth-of-type(3) .order {
      border: none;
      color: #fff;
      font-weight: normal;
      line-height: 18px;
    }
    &:nth-of-type(1) .order {
      background-color: #dab413;
    }
    &:nth-of-type(2) .order {
      background-color: #6e7b84;
    }
    &:nth-of-type(3) .order {
      background-color: #a0541a;
    }
  }
  .image {
    width: 55px;
    height: 55px;
  }
  .order {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border: 1px solid #ccc;
    color: #aaa;
    vertical-align: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
    transform: rotate(45deg);
    &::before {
      content: counter(ranking);
      counter-increment: ranking;
      display: inline-block;
      font-size: 1.0rem;
      transform: rotate(-45deg);
    }
  }
  .text {
    display: inline-block;
    width: 182px;
    color: #000;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
