.search-box {
  padding: 15px;
  background-color: #ccc;
  font-size: 0;
  > * {
    font-size: 1.2rem;
  }
  .search-input {
    width: 205px;
    height: 26px;
    padding: 0 10px;
    border: none;
  }
  .search-button {
    width: 40px;
    height: 26px;
    border: none;
    background-color: #d03c56;
    color: #fff;
    cursor: pointer;
  }
  .text {
    margin-top: 12px;
  }
}
