h2.hidden ARTICLES
.clearfix
  - for (var i = 0; i < 4; i++)
    a.article-box(href="#")
      h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
      p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
      time.date(datetime="2015-06-17") 2015.06.07 WED
      img.image(src="images/article.jpg" alt="コーディング画面")
