h2.heading RANKING
ol.ranking
  - for (var i = 0; i < 7; i++)
    li.ranking-item
      a(href="#")
        img.image(src="images/ranking.jpg" alt="グラフの画像")
        span.order
        p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
