doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title スタンダードレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header.header
    .wrapper.clearfix
      main.main
      .sidemenu
    footer.footer
