doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title スタンダードレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    include partials/header

    .wrapper.clearfix
      main.main
        include partials/hot-topic
        include partials/news
        include partials/article
      .sidemenu
        include partials/ranking
        include partials/documents

    footer.footer
